/*
разобраться с подключение fotawesome возможно переделать footer
закрепить footer
*/

* {
    margin: 0;
    padding: 0;
}

/*html {*/
    /*position: relative;*/
    /*min-height: 100%;*/
/*}*/

/*body {*/
    /*margin-bottom: 60px;*/
/*}*/
/*footer {*/
    /*position: absolute;*/
    /*bottom: 0;*/
    /*width: 100%;*/
    /*height: 60px;*/
    /*background-color: #F0F0E9;*/
/*}*/

/*html, body {*/
    /*height: 100%;*/
/*}*/

.container {
    /*min-height: 100%;*/
    max-width: 1366px;
}

/*.content {*/
    /*flex: 1;*/
/*}*/

.error-background {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABZ0RVh0Q3JlYXRpb24gVGltZQAxMC8yOS8xMiKqq3kAAAAcdEVYdFNvZnR3YXJlAEFkb2JlIEZpcmV3b3JrcyBDUzVxteM2AAABHklEQVRIib2Vyw6EIAxFW5idr///Qx9sfG3pLEyJ3tAwi5EmBqRo7vHawiEEERHS6x7MTMxMVv6+z3tPMUYSkfTM/R0fEaG2bbMv+Gc4nZzn+dN4HAcREa3r+hi3bcuu68jLskhVIlW073tWaYlQ9+F9IpqmSfq+fwskhdO/AwmUTJXrOuaRQNeRkOd5lq7rXmS5InmERKoER/QMvUAPlZDHcZRhGN4CSeGY+aHMqgcks5RrHv/eeh455x5KrMq2yHQdibDO6ncG/KZWL7M8xDyS1/MIO0NJqdULLS81X6/X6aR0nqBSJcPeZnlZrzN477NKURn2Nus8sjzmEII0TfMiyxUuxphVWjpJkbx0btUnshRihVv70Bv8ItXq6Asoi/ZiCbU6YgAAAABJRU5ErkJggg==);}
.error-template {
    padding: 40px 15px;text-align: center;
}
.error-actions {
    margin-top:15px;margin-bottom:15px;
}
.error-actions .btn {
    margin-right:10px;
}

.catalog {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.card-img-top {
    width: 100px;
    height: 100px;
}
