<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">


    <welcome-file-list>
        <welcome-file>main</welcome-file>
    </welcome-file-list>

    <context-param>
        <param-name>path_jsp</param-name>
        <param-value>WEB-INF/jsp/</param-value>
    </context-param>
    <context-param>
        <param-name>template</param-name>
        <param-value>template.jsp</param-value>
    </context-param>

    <error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/jsp/notfound.jsp</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/WEB-INF/jsp/forbiden.jsp</location>
    </error-page>
</web-app>

